<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% extends 'base_admin.html' %}
        {% block title %}  Adicionar produtos  {% endblock %}
    </head>
<body>
{% block main %}

{% block subtitulo %}
        Adicionar Matéria-Prima
{% endblock %}

{% block conteudo2 %}
{% load bootstrap3 %}

    <section>
        <form method="POST">
            {% csrf_token %}
            <center>
            {% bootstrap_form form %}<br>
            
            <button type="submit" name="button" value="update" class="btn btn-outline btn-primary" >Cadastrar</button>&ensp;&ensp;&ensp;&ensp;
            <button class="btn btn-outline btn-danger" onclick="goBack()">Cancelar</button>
            </center>
        </form>
    </section>
{% endblock %}    
{% endblock %}


</body>
</html>