{% extends 'base_admin.html' %} 
{% load static %}
    {% block main %}

    {% block subtitulo %}
    Editar Categoria
    {% endblock %}
    {% block conteudo2 %}
    <form method="POST">
        {% csrf_token %}
        <h3>{{ categoria.username }}</h3>
        <br><center>
            <label class="control-label">Nome</label><br><br>
            <input type="text" value="{{ categoria.nome }}" name="nome"class="form-control"><br><br>

        <button type="submit" name="button" value="update" class="btn btn-outline btn-primary">Salvar</button>&emsp;&emsp;
        <button type="submit" name="button" value="update_continue" class="btn btn-outline btn-primary">Salvar e continuar editando</button>
    </center>
    </form>
    {% endblock %}
    {% endblock %}