<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'baseLogin.html' %}
                {% block title %}  Esqueci a senha  {% endblock %}

</head>
<body>
    {% load static %}
    {% block subtitulo %}<p><p> Esqueci a senha </p><br>{% endblock %}

    {% block conteudo %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <br>
    <button type="submit" class="button">
      {% bootstrap_icon "glyphicon glyphicon-send" %} &emsp;Enviar
    </button>
  {% endbuttons %}
    </form>
    {% endblock %}    


</body>
</html>