<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'baseLogin.html' %}
                {% block title %}  Esqueci a senha  {% endblock %}

</head>
<body>
    {% load static %}
    {% block subtitulo %}<p>Verifique seu E-mail</p>{% endblock %}

    {% block conteudo %}
    Enviamos um e-mail com as instruções para a alteração da sua senha,<br> caso uma conta exista registrada em seu e-mail.
    Você deverá recebe-lo em instantes!
 <br><br>
    Se você não receber o e-mail, certifique-se que você digitou o o e-mail correto<br> e também verifique sua caixa de spam.
<br><br>
    {% endblock %}    


</body>
</html>