<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/login.css">
        <link rel="stylesheet" href="/static/css/login1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <title>
        {% block title %}

        {% endblock %}
        </title> 
</head>
<body>

<br><center><titulo>
{% block subtitulo %}


{% endblock %}
</titulo></center><br>

<section>
    <div class="inner">
    <form method="POST" action=" ">
            {% csrf_token %}
            <fonte>
                <center>
                   {% block conteudo %}

                   {% endblock %}
                    </fonte></center>
    </form>
    </div>
</section>

</body>
</html>
