<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'base_admin.html' %}
                {% block title %}Cadastrar novo usuário{% endblock %}
                
</head>
<body>
    {% block main %}

    {% block subtitulo %}
    Cadastrar novo usuário
    {% endblock %}
    
    {% block conteudo2 %}
    {% load bootstrap3 %}
    <center>
        <form method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}<br>

            {% for i in grupos %}
                <label>{{ i.nome }} <input type="checkbox" name="grupo" value="{{ i.nome }}"></label>&ensp;
            {% endfor %}
            <br><br><input type='submit' value='Registrar' class="btn btn-default"/>&ensp;&ensp;&ensp;&ensp;
            <button class="btn btn-default" onclick="goBack()">Cancelar</button>
    </form></center>
{% endblock %}
        {% endblock %}
</body>
</html>