<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'baseLogin.html' %}
                {% block title %} Nova senha {% endblock %}

</head>
<body>
    {% load static %}
    {% block subtitulo %} <p> Nova senha</p><br> {% endblock %}

	{% block conteudo %}
	{% if validlink %}

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <br>
    <button type="submit" class="button">
      {% bootstrap_icon "glyphicon glyphicon-retweet" %} &emsp;Trocar
    </button>
  {% endbuttons %}
</form>
{% else %}
    Link de recuperação de senha está inválido / Já utilizado.<br>
    Solicite um novo reset de senha <a href="{% url 'sgu:login' %}">AQUI</a>.<br><br>
{% endif %}
{% endblock %}


</body>
</html>
