<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'base_admin.html' %}
                {% block title %}  Home  {% endblock %}
                
</head>
<body>
    {% load static %}
    {% block main %}

	{% block subtitulo %}
    Olá {{ user }}
    {% endblock %}

    {% block barra_lateral %}
    <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="{% url 'index' %}"><i class="fa fa-home fa-fw"></i> E-commerce </a>
                            </li>

                            <li class="">
                                <a href="#"><i class="fa fa-tasks" aria-hidden="true"></i> SGU <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="/sgu"><center>Mostrar tudo</center></a>
                                    </li>                                	
                                    <li>
                                        <a href="{% url 'sgu:cadastro_usuario' %}"><center>Cadastrar usuário</center></a>
                                    </li>
                                </ul>
                            </li>        

                            <li class="">
                                <a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Estoque <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="/estoque"><center>Mostrar tudo</center></a>
                                    </li>                                	                                	
                                    <li>
                                        <a href="{% url 'estoque:fornecedores' %}"><center>Fornecedores</center></a>
                                    </li>                                	
                                    <li>
                                        <a href="{% url 'estoque:estoque_produtos' %}"><center>Produtos</center></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'estoque:estoque_materia' %}"><center>Matéria Prima</center></a>
                                    </li>                                    
                                </ul>
                            </li>

                            <li class="">
                                <a href="#"><i class="fa fa-dollar" aria-hidden="true"></i>&nbsp;Fluxo <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="/fluxo"><center>Mostrar tudo</center></a>
                                    </li>                                	
                                </ul>
                            </li>

                            <li class="">
                                <a href="#"><i class="fa fa-clipboard fa_custom"></i> Pedidos <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="/pedidos"><center>Mostrar tudo</center></a>
                                    </li>                                	
                                </ul>
                            </li>

                            <li class="">
                                <a href="#"><i class="fa fa-book"></i> Catálogo <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                	<li><a href="/catalogo"><center>Mostrar tudo</center></a></li>
                                    <li>
                                    	<a href="#"> Produtos <span class="fa arrow"></span></a>
                                    	<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    		<li><a href="{% url 'catalogo:produtos' %}"><center>Mostrar tudo</center></a></li>
                                    		<li><a href="{% url 'catalogo:adiciona_produto'  %}"><center>Cadastrar produto</center></a></li>
                                    </li>
                                    	</ul>

                                    <li>
                                    	<a href="#"> Matéria prima <span class="fa arrow"></span></a>
                                    	<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    		<li><a href="{% url 'catalogo:materia' %}"><center>Mostrar tudo</center></a></li>
                                    		<li><a href="{% url 'catalogo:adiciona_materia' %}"><center>Cadastrar matéria prima</center></a></li>
                                    </li>
                                    	</ul>  

                                    <li>
                                    	<a href="#"> Categoria <span class="fa arrow"></span></a>
                                    	<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    		<li><a href="{% url 'catalogo:categorias' %}"><center>Mostrar tudo</center></a></li>
                                    		<li><a href="{% url 'catalogo:adiciona_categoria' %}"><center>Cadastrar categoria</center></a></li>
                                    </li>
                                    	</ul>                                  
                                </ul>
                            </li>                 
    {% endblock %}

    {% block conteudo1 %}
    <center>
    <fonteprincipal>  </fonteprincipal>
    </center>
    {% endblock %}

    {% block conteudo2 %}
        <fonteprincipal> <br> </fonteprincipal></fonteprincipal></center>
    {% endblock %}


    {% endblock %}
</body>
</html>