{% extends "base.html" %}

{% load widget_tweaks %}

{% block tittle %} Registre-se | {{ block.super }} {% endblock %}

{% block pagina %}
    {% load bootstrap3 %}
    {% bootstrap_css %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1>Registre-se</h1>
            </div>
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <fieldset>
                    {% for campo in form %}
                    <div class="form-group{% if campo.errors %} has-erro{% endif %}">
                      <label for="{{ campo.auto_id }}" class="col-md-3 control-label">{{ campo.label }}</label>
                      <div class="col-md-9">
                        {% render_field campo class="form-control" %}
                        {% for error in campo.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                    </div>                    
                    {% endfor %}
                    <div class="form-group">
                        <br>
                      <div class="col-md-9 col-md-offset-3">
                        <center><button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4 " style="width: 50%">Enviar</button></center>
                      </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <br><br></div>
{% endblock %}